<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Login Sistem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="flex-direction: column;">
    
    <div class="kartu-profil">
        <h2>Login Dasbor Admin</h2>
        
        <form method="POST" action="/login">
            <p>Username:</p>
            <input type="text" name="username" required style="padding: 10px; width: 80%;">
            
            <p>Password:</p>
            <input type="password" name="password" required style="padding: 10px; width: 80%;">
            
            <button type="submit" class="tombol" style="border: none; cursor: pointer; background-color: #28a745;">Masuk</button>
        </form>
        <br>
        <a href="/register" style="font-size: 14px;">Belum punya akun? Daftar di sini</a>
    </div>

</body>
</html>